<h1>Bienvenue sur mon blog</h1>

{% load blog_extras %}
Un jour, une certaine personne m'a dit : {{ "Bonjour le monde !"|citation }}
<p>
    {{ "Bonjour"|smart_truncate:14 }}<br />
    {{ "Bonjour tout le monde"|smart_truncate:15 }}<br />
    {{ "Bonjour tout le monde, c'est bientôt Noël"|smart_truncate:18 }}<br />
    {{ "To be or not to be, that's the question"|smart_truncate:16 }}<br />
 </p>

 {% random 1 20 %}

{% for article in articles %}
<div class="article">
    <h3>{{ article.titre }}</h3>
    <p>{{ article.contenu|truncatewords_html:80 }}</p>
    <p><a href="{% url 'blog_liste' article.id  %}">Lire la suite</a></p>
</div>
{% empty %}
<p>Aucun Article</p>
{% endfor %}

{% if is_paginated %}
<div class="pagination">
       {% if page_obj.has_previous %}
           <a href="?page={{ page_obj.previous_page_number }}">Précédente</a> —
       {% endif %}
       Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }} 
       {% if page_obj.has_next %}
          — <a href="?page={{ page_obj.next_page_number }}">Suivante</a>
       {% endif %}
</div>
{% endif %}