<h1>URL Minification !</h1>

<p><a href="{% url 'url_new' %}">Minify URL.</a></p>

<p>Minified URL list :</p>
<ul>
    {% for url in urls %}
    <li> {{ url.url }} via <a href="http://{{ request.get_host }}{% url 'url_forword' url.code %}">{{ request.get_host }}{% url 'url_forword' url.code %}</a>
    {% if url.pseudo %} by {{ url.pseudo }}{% endif %} ({{ url.nb_access }} accès)</li>
    {% empty %}
    <li>No URL found.</li>
    {% endfor %}
</ul>

<div class="pagination">
    {% if urls.has_previous %}
        <a href="{% url 'url_liste' %}?page={{urls.previous_page_number}}">Précédente</a> -
    {% endif %}
 
    <span class="current">
        Page {{ urls.number }} sur {{ urls.paginator.num_pages }}
    </span>
 
    {% if urls.has_next %}
        - <a href="{% url 'url_liste'  %}?page={{urls.next_page_number}}">Suivante</a>
    {% endif %}
 </div>